
body{
    background-image: url("../images/backg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}   
.actBtn{
    outline: none !important;
    border-color: white !important; 
    height: 100%; 
    width: 100%;

}
.Listbtn{
    outline: none !important;
    border-color: white !important; 
    width: 70px;
}
.ulList{
    text-align: center;
    padding: 0%;
    list-style-type: decimal;
    font-weight: bolder;
}